.call {
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.74);
  border: 1px solid rgba(42, 47, 56, 0.08);
  border-radius: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 2;
  @include media-breakpoint-up(sm) {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .call-box-top {
    flex: 1 0 auto;
    padding: 24px 24px 8px;
    @include media-breakpoint-up(md) {
    }
  }
  .call-box-bottom {
    flex: 0 0 auto;
    padding: 0 24px 24px;
    @include media-breakpoint-up(sm) {
      padding: 24px;
    }
  }
  .call-name {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .call-phone {
    margin-bottom: 5px;
  }
  .call-email,
  .call-phone {
    color: $graphite;
  }
  strong {
    font-weight: bold;
  }
}
